@import "variables";

.btn-primary {
  background-color: $primary;
  color: white;
  padding: 10px;
  border-radius: 50px;
}

.submit {
  background-color: $primary;
  color: white !important;
  padding: 10px;
  border-radius: 50px;
}

.submit:hover {
  background-color: #3356d3 //Hover deaktivieren hat nicht funktioniert
}

.btn-login {
  border-radius: 50px !important;
  text-align: right;
}
