@import "variables";

#c158 {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 35px;
  font-family: "Peregroy JF", serif;
  color: $primary;
  background-color: $secondary;
}
