@import "variables";

#c29 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
} //Kontaktformular

.card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px !important;
}

img {
  border-radius: 20px !important;
}

picture {
  border-radius: 20px !important;
}

.carousel-content-inner { //funktioniert nicht
  height: 50px;
}

#c158 {
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

#c159 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}



